<div class="panel panel-default">
    <div class="panel-heading text-center" style="background-color: #2A0247; color: white; font-weight: bold; font-size: 40px;">
    	Nos Partenaires et Technologies
    </div>
    <div class="panel-body" style="background-color: #54038F; color: white;">
            <div class="row">
    		  <div class="col-md-6 text-center"><img src="styles/images/eip.png"></div>
    		  <div class="col-md-6 text-center"><img src="styles/images/epitech.png"></div>
            </div>
            <div class="row">
    		  <div class="col-md-6 text-center"><img src="styles/images/fb_partenaire.png"></div>
    		  <div class="col-md-6 text-center"><img src="styles/images/flickr.png"></div>
            </div>
            <div class="row">
    		  <div class="col-md-6 text-center"><img src="styles/images/parse.png"></div>
    		  <div class="col-md-6 text-center"><img src="styles/images/stripe.png"></div>
            </div>
            <div class="row">
              <div class="col-md-6 text-center"><img src="styles/images/twitter_partenaire.png"></div>
            </div>
            </br>
            <div class="row text-center">
                <button type="submit" class="btn btn-lg btn-success contact" style="background-color: #38d07d; color: white; font-weight: bold;">Nous Contacter</button>
            </div>
    </div>
</div>