<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #2A0247; color: white;">
    	<%= author %>
    </div>
    <div class="panel-body" style="background-color: #54038F; color: white;">
    	<%= Description %>
    </div>

    <div class="row">
 
    			<div id="payment" class="col-md-4 panel-footer text-center">
    				<button class="reserve" type="submit"><a href="#payment/<%= objectId %>">Réserver (<%= price %> euros)</a></button>
				</div>

                <div id="photo" class="col-md-4 panel-footer text-center">
                    <button id="button_photo" class="album"><a id="album">Album Photo</a></button>
                </div>

				<div id="vip" class="col-md-4 panel-footer text-center">
    				<button class="vip"><a target="_blank" href="http://VIP.benight.cc">Espace VIP</a></button>
				</div>
			</td>
		</tr>
	</table>
</div>