<div class="panel panel-default">
    <div class="panel-heading" style="background-color: #2A0247; color: white;">
    	<%- author %>
    </div>
    <div class="panel-body" style="background-color: #54038F; color: white;">
    	<%- Description %>
    </div>

    <div class="panel-footer" style="background-color: #2A0247;">
    	<button class="reserve" type="submit"><a href="#payment">Réserver</a></button>
	</div>
</div>