<div class="header col-md-12">   
    <ul class="nav navbar-nav">
        <li class="active"><a href="/" class="home-section">Maison</a></li>
        <li><a href="#news" class="news-section">Actualités</a></li>
        <li><a href="#events" class="events-section">Les Soirées</a></li>
        <li><a href="#about">A propos</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="log-out">Déconnection</a></li>
		<li><a href="#account" class="account">Mon Compte</a></li>
	</ul>
</div>

