<div class="header col-md-12">   
    <ul class="nav navbar-nav">
        <li class="active"><a href="/" class="home-section">Home</a></li>
        <li><a href="#" class="news-section">News</a></li>
        <li><a href="#events" class="events-section">Events</a></li>
    	<li><a href="#">Contact</a></li>
    </ul>
	<ul class="nav navbar-nav navbar-right">
        <li><a href="/" class="log-out">Logout</a></li>
		<li><a href="/#signup">Sign up</a></li>
	</ul>
</div>

