            <div class="jumbotron">
                <h1>Hello Benight !</h1>
                <p class="lead">The news will shortly be updated. Bear with us!</p>
            </div>



            <div class="footer">
                <p>♥ from the Benight team</p>
            </div>