            <div class="header">   
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/" class="home-section">Home</a></li>
                    <li><a href="#" class="news-section">News</a></li>
                    <li><a href="#" class="events-section">Events</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout" class="log-out">Logout</a></li>
                </ul>
            </div>

            <div class="jumbotron">
                <header>Upcoming Events</header>
                    <ul id="event-list">
                    </ul>
            </div>



            <div class="footer">
                <p>♥ from the Benight team</p>
            </div>
