<div class="container">

	<div class="wrap" style="margin-top: 150px;">
		<div class="row">
			<div class="text-center" style="color: white; font-size: 25px; margin-bottom: 30px;">
				Veulliez renseigner la même adresse email que celle utilisée lors de la créationde votre compte. Un email vous sera envoyer afin de procéder à la récupération de votre Mot de Passe.
			</div>
		</div>
    	<div class="row" style="height: 150px;">
        	<div class="col-lg-4 col-lg-offset-4 text-center">
            	<form class="login-form">
                	<input type="email" placeholder="email@exemple.com" class="form-control" id="login-password" style="margin-bottom: 30px;">
                	<button type="button" class="btn btn-info" id="send" style="background-color: #37d07d; color: white; font-weight: bold;">Envoyer le mail</button>
            	</form>
        	</div>
    </div>
</div>
