<!DOCTYPE html> 
 
<html lang="fr"> 
  <head> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css"/> 
    <meta name = "viewport" content = "user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width" /> 

<style>
/* Removes Mobile Highlight */
*{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
</style>

<script type="text/javascript" src="/javascript/three.min.js"></script>
<script>document.write('<script src="/javascript/app.js?dev=' + Math.floor(Math.random() * 100) + '"\><\/script>');</script>

  </head> 
 
  <body> 
    <header> 
      <h1>Espace 3D</h1>
    </header> 

    <nav> 
      <ul> 
        <li>Accueil</li> 
        <li>Nous Contacter</li> 
        <li>A Propos</li> 
      </ul> 
    </nav>

    <div class="separateur"></div> 
 
    <section id="content">

      <div id="idGameDiv"> </div>

    </section> 
 	
	<footer> 
		<p>Copyright BeNight</p>  
	</footer> 

  </body> 
</html>