doctype html(lang='fr')
head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')     
    meta(name='viewport', content='user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width')

    style.
      *{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}

    script(type='text/javascript', src='/javascript/three.min.js')
    script.
      document.write('<script src='/javascript/app.js?dev=' + Math.floor(Math.random() * 100) + ''><\/script>');   

  body
    header
      h1 Espace 3D
    nav
      ul
        li Accueil
        li Nous Contacter
        li A Propos
    .separateur
    section#content
      #idGameDiv  
    footer
      p Copyright BeNight
