<script>
	<!--Template de liste des tâches -->
			<ul class="list-group">
			<% _.each(collection, function(model){ %>
				<li class="list-group-item"><a href="#parties/edit/<%= model._id %>"><%= model.title %></a></li>
			<% }); %>
			</ul>
			<a href="#parties/create" class="btn btn-default">Ajouter une nouvelle soirée</a>
		</script>
</script>

<!-- Template de formulaire de création d'une tâche --> 
<script type="text/template" id="party-create">
	<form role="form">
		<div class="form-group">
			<label for="title">Nom</label>
			<input type="text" class="form-control" id="title" />
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" class="form-control" id="description" />
		</div>  
		<button type="submit" class="btn btn-default" id="party-create-btn">Créer</button>
	</form>
</script>
<!-- Template de formulaire de modification d'une tâche --> 
<script type="text/template" id="party-edit">
	<form role="form">
		<div class="form-group">
			<label for="title">Titre</label>
			<input type="text" class="form-control" id="title" value="<%= model.title %>" />
		</div>
		<div class="form-group">
			<label for="description">Description</label>
			<input type="text" class="form-control" id="description" value="<%= model.description %>" />
		</div> 
		<div class="checkbox">
			<label>
				<input type="checkbox" <% if (model.done) { %>checked="checked"<% } %> id="done">Terminée
			</label>
		</div>
		<button type="submit" class="btn btn-default" id="party-edit-btn">Sauver</button>
		<button class="btn btn-danger" id="party-delete-btn">Supprimer</button>
	</form>
</script>
<script type="text/javascript" src="js/party.js"></script>