<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app.benight.benightandroidapp" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".album.infrastructure.IOCApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Benight"
        android:theme="@style/AppTheme" >
        <meta-data

        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
        <activity
            android:name=".login.LoginActivity"
            android:label="Benight" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homepage.HomepageActivity"
            android:label="New Feeds" >
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:label="Register" >
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <dependency>
            <groupId>
com.facebook
            </groupId>

            <artifactId>
android-sdk
            </artifactId>

            <version>
version
            </version>

            <type>
apklib
            </type>
        </dependency>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_ENABLED"
            android:value="true" />
        <meta-data
            android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_EMAIL_AS_USERNAME"
            android:value="true" />
        <meta-data
            android:name="com.parse.ui.ParseLoginActivity.PARSE_LOGIN_HELP_TEXT"
            android:value="@string/password_reset_text" />
        <meta-data
            android:name="com.parse.ui.ParseLoginActivity.MIN_PASSWORD_LENGTH"
            android:value="8" />
        <meta-data
            android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_ENABLED"
            android:value="true" />
        <meta-data
            android:name="com.parse.ui.ParseLoginActivity.FACEBOOK_LOGIN_PERMISSIONS"
            android:resource="@array/my_facebook_permissions" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCwUD22DNMeCw9MMkdwtqEKZ7DIbAuPs8s" />

        <activity
            android:name=".passwordRecovery.PasswordRecoveryActivity"
            android:label="@string/title_activity_password_recovery" >
        </activity>
        <activity
            android:name=".profile.ProfileActivity"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".booking.BookingActivity"
            android:label="@string/title_activity_booking" >
        </activity>
        <activity
            android:name=".album.activities.GalleryPhotoActivity"
            android:label="@string/title_activity_gallery_photo" >
        </activity>
        <activity
            android:name=".album.activities.MediumViewActivity"
            android:label="@string/title_activity_photo_view" >
        </activity>
        <activity
            android:name=".music.SoundcloudActivity"
            android:label="@string/title_activity_soundcloud" >
        </activity>
        <activity
            android:name=".contact.ContactActivity"
            android:label="@string/title_activity_contact" >
        </activity>
        <activity
            android:name=".booking.BookingConfirmActivity"
            android:label="@string/title_activity_booking_confirm" >
        </activity>
    </application>

</manifest>
